<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/static/css/bookRegister.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script defer type="module" src="/static/js/bookRegister/index.js"></script>
</head>
<body>
    <div class="container">
        <form id="registerBookForm" action="register" method="post">
            <div class="form-header">
                <h1>REGISTRAR LIVRO</h1>
                <a href="/books/search">Buscar</a>
            </div>
            <div class="response-message">
                <span id="response-message"></span>
            </div>
            <input type="text" name="name" id="name" placeholder="Nome do livro">
            <input type="text" name="author" id="author" placeholder="Autor">
            <input type="number" name="release_date" id="release_date" placeholder="Ano de lançamento (YYYY)">
            <input type="number" min="0" name="quantity" id="quantity" placeholder="Quantidade">
            <input type="submit" value="Registrar">
        </form>
    </div>
    
</body>
</html> 