.container {
    flex-direction: column;
    justify-content: start;
    color: #fff
}

#searchBookForm {
    margin: 2em 0 2em 0;
    width: 30em;
}

#searchBookForm input {
    margin: 0.3em 0 0.6em 0;
    padding: 0.6em 0.3em 0.6em 0.6em;
    border-radius: 10px;
    font-size: 1em;
    border: 0;
}

#searchBookForm input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1e8fff;
}

#searchBookForm [type=submit]:hover {
    color: #fff;
    box-shadow: none;
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

#list {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 0.1em solid;
    margin-bottom: 1em;
}

#list-header .row {
    font-size: 0.9em;
    background-color: #12539349 ;
}

#list-body>.row:hover {
    background-color: #1e8fff49;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 2fr 1fr;
    padding: 0.5em 0.5em;
    font-size: 0.8em;
}

.row > :last-child {
    text-align: center;
}

.cell {
    align-items: center;
}

.btn-delete {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1rem;
    min-height: 1.5rem;
    outline: 0;
    padding: 0.1rem 0.5rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-delete:hover,
.btn-delete:active {
    background-color: initial;
    background-position: 0 0;
    color: #ffffff;
}

.btn-delete:active {
    opacity: .5;
}

@media only screen and (max-width: 959px) {
    .row {
        grid-template-columns: 1fr 4fr 3fr 2fr 1fr;
        padding: 0.5em 0.8em;
        font-size: 1em;
    }
}