.container{
    flex-direction: column;
    justify-content: start;
    color: #fff
}

#searchBookForm {
    margin: 2em 0 2em 0;
    width: 30em;
}

#searchBookForm input {
    margin: 0.3em 0 0.6em 0;
    padding: 0.6em 0.3em 0.6em 0.6em;
    border-radius: 10px;
    font-size: 1em;
    border: 0;
}

#searchBookForm input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1e8fff;
}

#searchBookForm [type=submit]:hover {
    color: #fff;
    box-shadow: none;
    background-color: #495056;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

#list {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: 0.1em solid;
    margin-bottom: 1em;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 2fr;
    padding: 0.3em 0.3em;
    font-size: 1.1em;
}

#list-header { 
  font-size: 1.3em;
}

#list-body > .row:hover { 
  background-color: #1e8fff49;
}

.row > :last-child {
  text-align: center;
}